# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.*

# Ignore Terraform crash logs
crash.log
crash.*.log

# Ignore Terraform execution plan files
*.tfplan

# Ignore Terraform module and provider caches
.terraform/
.terraform.lock.hcl

# Ignore sensitive files
terraform.tfvars
*.auto.tfvars

# Ignore backup files
*.backup

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore Terraform remote backend configuration files
backend.tf

# Ignore DynamoDB lock file
.lock

